body {
	background: black;
	color: white;
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	padding: 0;
}

.title, button {
	cursor: pointer;
}

.title:hover {
	font-style: italic;
}
